.progressContainer{
    background-color: rgb(196, 196, 196);
    border-radius: 20px;
    height: 30px;
    width: 900px;
    margin-top: 20px;
}
@media only screen and (max-width: 900px) {
    .progressContainer{
        width: 600px;
        margin: 20px auto auto auto
    }
  }